:root {
    --cyan: #00f2ff;
    --pink: #ff66aa;
    --yellow: #ffd966;
}

body, html {
    margin: 0; padding: 0;
    background: #000;
    width: 100vw; height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
}

#app {
    position: relative;
    width: 100%; height: 100%;
    display: flex; justify-content: center; align-items: center;
}

#pet {
    position: absolute;
    width: 260px;
    display: flex; flex-direction: column; align-items: center;
    /* Стартовая позиция ровно по центру */
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    transition: left 0.8s ease-out, top 0.8s ease-out;
    cursor: pointer;
}

.ears { display: flex; gap: 70px; margin-bottom: -10px; }
.ear {
    width: 70px; height: 90px;
    background: #000; border: 3px solid var(--cyan);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    border-radius: 10px;
    box-shadow: 0 0 15px var(--cyan);
}

.face { display: flex; flex-direction: column; align-items: center; }
.eyes { display: flex; gap: 40px; }
.eye {
    width: 65px; height: 105px;
    background: var(--cyan);
    border-radius: 50% 50% 45% 45%;
    box-shadow: 0 0 30px var(--cyan);
    transition: 0.2s;
}

.nose {
    width: 14px; height: 10px;
    background: var(--cyan);
    border-radius: 50%; margin: 15px 0 5px;
}

.mouth {
    width: 45px; height: 12px;
    border-bottom: 4px solid var(--cyan);
    border-radius: 0 0 20px 20px;
}

/* Статусы */
#overlay {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.8); color: var(--cyan);
    display: flex; justify-content: center; align-items: center;
    z-index: 100; cursor: pointer;
}

#logger {
    position: fixed; bottom: 10px; width: 100%;
    text-align: center; color: rgba(0, 242, 255, 0.4);
    font-size: 12px; pointer-events: none;
}

/* Эмоции */
.scared { transform: scale(0.6); background: var(--yellow) !important; box-shadow: 0 0 20px var(--yellow) !important; }
.love { transform: scale(1.1); background: var(--pink) !important; box-shadow: 0 0 35px var(--pink) !important; }
.blink { transform: scaleY(0.05); }
