:root {
    --cyan: #00f2ff;
    --red: #ff4d4d;
    --pink: #ff66aa;
    --yellow: #ffd966;
}

body, html {
    margin: 0; padding: 0;
    background: #000; /* Глубокая черная коробка */
    width: 100vw; height: 100vh;
    overflow: hidden;
}

#box {
    position: relative;
    width: 100%; height: 100%;
    display: flex; justify-content: center; align-items: center;
}

#pet-face {
    position: absolute;
    width: 280px;
    display: flex; flex-direction: column; align-items: center;
    /* Центрирование при старте */
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    transition: left 1.5s ease-in-out, top 1.5s ease-in-out, transform 0.3s;
    cursor: pointer;
}

.ears { display: flex; gap: 70px; margin-bottom: -15px; }
.ear {
    width: 75px; height: 95px;
    background: #000; border: 3px solid var(--cyan);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    border-radius: 12px;
    box-shadow: 0 0 15px var(--cyan);
}

.eyes-row { display: flex; gap: 40px; }
.eye {
    width: 70px; height: 115px;
    background: var(--cyan);
    border-radius: 50% 50% 45% 45%;
    box-shadow: 0 0 35px var(--cyan);
    transition: all 0.3s ease;
}

.nose {
    width: 16px; height: 11px;
    background: var(--cyan);
    border-radius: 50%;
    margin: 15px 0 5px;
    box-shadow: 0 0 10px var(--cyan);
}

.mouth {
    width: 50px; height: 18px;
    border-bottom: 4px solid var(--cyan);
    border-radius: 0 0 25px 25px;
}

#subtitles {
    position: absolute; bottom: 40px; width: 100%;
    text-align: center; color: rgba(0, 242, 255, 0.4);
    font-family: monospace; font-size: 15px;
    pointer-events: none;
}

/* Эмоции */
.eye.scared { transform: scale(0.5); background: var(--yellow); box-shadow: 0 0 20px var(--yellow); }
.eye.love { background: var(--pink); box-shadow: 0 0 35px var(--pink); transform: scale(1.15); }
.eye.angry { background: var(--red); box-shadow: 0 0 35px var(--red); clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 60%); }
.eye.blink { transform: scaleY(0.05); }
