body{
margin:0;
background:#000;
font-family:sans-serif;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:white;
}

.scene{
width:100%;
max-width:420px;
display:flex;
flex-direction:column;
gap:25px;
align-items:center;
}

#pet{
position:relative;
}

.ears{
display:flex;
justify-content:space-between;
padding:0 40px;
}

.ear{
width:40px;
height:40px;
background:#111;
border-radius:10px 10px 0 0;
}

.face{
background:#050505;
border-radius:30px;
padding:40px 30px;
display:flex;
flex-direction:column;
align-items:center;
gap:20px;
box-shadow:0 0 40px rgba(0,255,255,.2);
}

.eyes{
display:flex;
gap:40px;
}

.eye{
width:65px;
height:65px;
background:#00eaff;
border-radius:50%;
transition:.3s;
}

#mouth{
width:40px;
height:18px;
border-bottom:4px solid #00eaff;
border-radius:0 0 30px 30px;
transition:.3s;
}

.whiskers{
position:absolute;
bottom:70px;
display:flex;
gap:120px;
}

.whiskers span{
display:block;
width:25px;
height:3px;
background:#00eaff;
margin:6px 0;
}

#tablet{
background:#111;
padding:20px;
border-radius:20px;
text-align:center;
min-height:60px;
width:100%;
}

.controls{
display:flex;
gap:10px;
width:100%;
}

input{
flex:1;
padding:12px;
border-radius:20px;
border:none;
outline:none;
}

button{
padding:12px 16px;
border:none;
border-radius:15px;
cursor:pointer;
}
